<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CDStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AccountAction</servlet-name>
    <servlet-class>com.K9.controller.AccountAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountAction</servlet-name>
    <url-pattern>/AccountAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CategoryAction</servlet-name>
    <servlet-class>com.K9.controller.CategoryAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryAction</servlet-name>
    <url-pattern>/CategoryAction</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>CheckoutAction</servlet-name>
    <servlet-class>com.K9.controller.CheckoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutAction</servlet-name>
    <url-pattern>/CheckoutAction</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.K9.controller.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>OrderDetailAction</servlet-name>
    <servlet-class>com.K9.controller.OrderDetailAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailAction</servlet-name>
    <url-pattern>/OrderDetailAction</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ProductDetailAction</servlet-name>
    <servlet-class>com.K9.controller.ProductDetailAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailAction</servlet-name>
    <url-pattern>/ProductDetailAction</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ProductListAction</servlet-name>
    <servlet-class>com.K9.controller.ProductListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListAction</servlet-name>
    <url-pattern>/ProductListAction</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>PurchaseAction</servlet-name>
    <servlet-class>com.K9.controller.PurchaseAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseAction</servlet-name>
    <url-pattern>/PurchaseAction</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>RegistrationAction</servlet-name>
    <servlet-class>com.K9.controller.RegistrationAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationAction</servlet-name>
    <url-pattern>/RegistrationAction</url-pattern>
  </servlet-mapping>
</web-app>